@import "tailwindcss";

:root {
  --background: #faf9f6;
  --foreground: #2b2a28;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.dark {
  --background: #1f1e1c;
  --foreground: #eae6e1;
}

body {
  background: var(--background);
  color: var(--foreground);
}
